@page "/"
@inject IdentityManager IdentityManager
@inject ICallingService CallingService
@implements IAsyncDisposable

<PageTitle>Calling</PageTitle>

<h1>Calling</h1>

<div>
    <label for="userId">UserID</label>
    <input type="text" id="userId" @bind="this.userId" />
    <button @onclick="this.CreateUserAsync">Create new user</button>

    <label for="groupIdLocator">Group ID (Locator)</label>
    <input type="text" id="groupIdLocator" @bind="this.groupIdLocator" />

    <label for="displayName">Display name</label>
    <input type="text" id="displayName" @bind="this.displayName" />
</div>

<div>
    <input type="checkbox" id="cameraButton" @bind="this.cameraButton" />
    <label for="cameraButton">Camera button</label>

    <input type="checkbox" id="devicesButton" @bind="this.devicesButton" />
    <label for="devicesButton">Devices button</label>

    <input type="checkbox" id="endCallButton" @bind="this.endCallButton" />
    <label for="endCallButton">End call button</label>

    <input type="checkbox" id="microphoneButton" @bind="this.microphoneButton" />
    <label for="microphoneButton">Microphone button</label>

    <input type="checkbox" id="moreButton" @bind="this.moreButton" />
    <label for="moreButton">More button</label>

    <input type="checkbox" id="participantsButton" @bind="this.participantsButton" />
    <label for="participantsButton">Participants button</label>

    <input type="checkbox" id="peopleButton" @bind="this.peopleButton" />
    <label for="peopleButton">People button</label>

    <input type="checkbox" id="raiseHandButton" @bind="this.raiseHandButton" />
    <label for="raiseHandButton">Raise button</label>

    <input type="checkbox" id="screenShareButton" @bind="this.screenShareButton" />
    <label for="screenShareButton">Screen share button</label>
</div>

<div>
    <button @onclick="this.LoadAsync" disabled="@this.DisableLoad">Load</button>
    <button @onclick="this.JoinCallAsync" disabled="@this.DisableLoad">Join call</button>

    <button @onclick="this.MuteAsync" disabled="@(this.callAdapter is null)">Mute</button>
    <button @onclick="this.UnmuteAsync" disabled="@(this.callAdapter is null)">Unmute</button>

    <button @onclick="this.StartScreenShareAsync" disabled="@(this.callAdapter is null)">Start screen share</button>
    <button @onclick="this.StopScreenShareAsync" disabled="@(this.callAdapter is null)">Stop screen share</button>

</div>

<CallComposite Adapter="this.callAdapter" />

<div>
    <p>Logs (Using events):</p>
    <p>
        @foreach (var message in this.log)
        {
            @message<br/>
        }
    </p>
</div>


